<mat-card class="card">
  <div>
      <mat-chip [style.background-color]="getColor(cards.partner_level_name)">
        <p style="margin: 0!important;" [style.color]="cards.partner_level_color">{{ cards.partner_level_name }}</p>
      </mat-chip>
  </div>
  <div class="card-img">
    <img [alt]="cards.logo_id" [src]="cards.logo_url.src" width="90%">
  </div>
  <div class="more-info" >
    <div class="more-info-top-bar">
      <p style="margin: 0!important;">Budget</p>
      <mat-icon>search</mat-icon>
    </div>
    <div class="more-info-middle">
      <ul>
        <li>fatturato</li>
        <li>allocato</li>
        <li>residuo</li>
      </ul>
    </div>
    <div class="more-info-bottom" >
      <p (click)="navigateToProfile(cards.id)">Vedi profilo</p>
    </div>
  </div>
</mat-card>
